// --- Variables ---
// Breakpoints
$breakpoint-full-hd: 1920px;
$breakpoint-xxl: 1440px;
$breakpoint-xl: 1280px;
$breakpoint-l: 1024px;
$breakpoint-m: 768px;
$breakpoint-s: 375px;
$breakpoint-xs: 320px;
$breakpoint-xxs: 280px;

// Colors
$yellow-dark: #a1930d;
$red: #f34645;
$red-dark: #b03332;
$blue: #3c5dbf;
$blue-dark: #324d9f;
$green: #138a64;
$green-dark: #0f7051;
$yellow: #b9aa0f;
$purple: #7e58ad;
$purple-dark: #6a4893;
$grau-1: #f5f5f5;
$grau-2: #ebebeb;
$grau-3: #dedede;
$grau-4: #cfcfcf;
$grau-5: #aeaeae;
$grau-7: #666;
$black: #000;
$red-50: rgba(243, 70, 69, 0.5);
