@import 'definitions';

/* User login menu dropdown (MyAccount) styles */
.nav-holder {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 34px;
  cursor: pointer;
  transition: all 150ms ease-in-out;

  @media print, screen and (min-width: 1200px) {
    min-height: 26px;
  }

  &:hover,
  &:active,
  &:focus,
  &:focus:focus-within {
    i {
      color: $color-primary;
    }
  }

  i {
    font-size: 24px;
    z-index: 1;
    transition: all 150ms ease-in-out;
  }

  span {
    color: $color-font-nav-dropdown;
    font-family: $navi-sub-font-family;
    font-style: $navi-sub-font-style;
    font-size: $navi-sub-font-size;
    text-transform: $navi-sub-text-transform;
    margin: 0 0.5rem 0 1rem;
  }

  .nav {
    flex-direction: column;
    position: absolute;
    top: 26px;
    right: 0px;
    width: max-content;
    z-index: 102;
    background: $color-background-nav-dropdown;
    border-color: $color-border-nav-dropdown;
    border-style: solid;
    border-width: $navi-sub-border-width;
    transform: scale(0);
    opacity: 0;
    transition: opacity 100ms ease-in-out;

    a {
      position: relative;
      color: $color-font-nav-dropdown;
      font-family: $navi-sub-font-family;
      font-weight: $navi-sub-font-weight;
      font-style: $navi-sub-font-style;
      line-height: $navi-sub-line-height;
      font-size: $navi-sub-font-size;
      text-transform: $navi-sub-text-transform;
      padding: $navi-sub-padding;
      text-decoration: none;
      transition: all 150ms ease-in-out;
      padding-right: 50px;

      &:not(:last-of-type) {
        border-bottom: 1px solid $color-border-nav-dropdown;
      }

      &:hover {
        background: $color-background-nav-dropdown-hover;
        color: $color-font-nav-dropdown-hover;
      }
    }

    //User Account Icon/Profile picture styles
    // .user-account-menu {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   padding: 50px;
    //   &--icon {
    //     position: relative;
    //     font-size: 32px;
    //     color: $color-primary;
    //     z-index: 3;

        // &:before {
        //   content: '';
        //   position: absolute;
        //   z-index: 2;
        //   width: 50px;
        //   height: 50px;
        //   background-color: $color-grey5;
        //   top: 50%;
        //   left: 50%;
        //   transform: translate(-50%, -50%);
        //   border-radius: 50px;
        // }
    //   }
    // }
  }

  /* Expand .nav */
  .expanded {
    transform: scale(1);
    opacity: 1;
  }
}
